.container {
  max-width: 700px;
}

.contact-links {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-links a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.contact-links a:hover {
  border-color: white;
}


